<div class="card shadow">
    <div class="card-body">
        <h3>Community</h3>
        <div class="p-2 d-flex justify-content-center align-items-center">
            <a href="https://crcithaca.com/" target="_blank">
                <img src="assets/images/lansing_rink_logo.png" width="100%" alt="Community Recreation Center" title="Community Recreation Center">
            </a>
        </div>
        <div class="p-2 d-flex justify-content-center align-items-center">
            <a href="https://www.casspark.org/" target="_blank">
                <img src="assets/images/cass_park_logo.png" width="100%" alt="Cass Park, Rink and Pool" title="Cass Park, Rink and Pool">
            </a>
        </div>
    </div>
</div>