<div class="card shadow">
    <div class="card-body d-flex flex-column gap-1">
        <h4>
            <a class="a-no-style" [routerLink]="['/schedule']">
                Schedule
            </a>
        </h4>
        <div class="fw-bold">
            2024 Season
        </div>
        <div>
            <a href="https://www.signupgenius.com/go/10C0A44A5A82BA7F49-48362254-2425#/">
                Sign Up here
            </a>
        </div>

        <div class="fw-bold">
            2024 Tuesday Spring/Summer Skate
        </div>
        <div>
            <a href="https://docs.google.com/spreadsheets/d/1A-5Npjq_o8GultySUfCrri0DWLpWP0NKT6TjGpvgQZ0/edit#gid=0">
                Sign Up Here
            </a>
        </div>
        <div>
            <ul>
                <li>
                    8:45 - 10:00pm (April 2 to May 28)
                </li>
                <li>
                    9:15 - 10:30pm (June 4 to June 25)
                </li>
            </ul>
        </div>

        <div class="fw-bold">
            2024 Sunday Spring/Summer Skate
        </div>
        <div>
            <a href="https://docs.google.com/spreadsheets/d/1oiObVn7Mke1YPM0saJ8kfGFsmpfVAjX5QO6omZccwls/edit#gid=0">
                Sign Up Here
            </a>
        </div>
        <div>
            <ul>
                <li>
                    7:45 - 9:00pm (April 7 to June 23)
                </li>
            </ul>
        </div>
    </div>
</div>