<div class="card shadow">
    <div class="card-body d-flex flex-column gap-1">
        <h4>
            <a class="a-no-style" [routerLink]="['/schedule']">
                Schedule
            </a>
        </h4>
        <div class="fw-bold">
            2024 League Evaluation Skates
        </div>
        <div>
            <a href="https://www.signupgenius.com/go/10C0A44A5A82BA7F49-50837514-ableague#/">
                Sign Up here
            </a>
        </div>
        <div>
            <ul>
                <li>
                    6:30 - 7:45pm (Sept 9)
                </li>
                <li>
                    8:00 - 9:15pm (Sept 9)
                </li>
            </ul>
        </div>

        <div class="fw-bold">
            2024 Sunday Spring/Summer Skate
        </div>
        <div>
            <a href="https://docs.google.com/spreadsheets/d/1oiObVn7Mke1YPM0saJ8kfGFsmpfVAjX5QO6omZccwls/edit?gid=808624172#gid=808624172">
                Sign Up Here
            </a>
        </div>
        <div>
            <ul>
                <li>
                    7:45 - 9:00pm (Sept 1 - Sept 22)
                </li>
            </ul>
        </div>
    </div>
</div>