<div class="card shadow">
    <div class="card-body d-flex flex-column gap-1">
        <h4>
            <a class="a-no-style" [routerLink]="['/schedule']">
                Schedule
            </a>
        </h4>
        <div class="fw-bold">
            2024 League Evaluation Skates (Sept 9)
        </div>
        <div>
            <a href="https://www.signupgenius.com/go/10C0A44A5A82BA7F49-50837514-ableague#/">
                Sign Up here
            </a>
        </div>
        <div>
            <ul>
                <li>
                    6:30 - 7:45pm
                </li>
                <li>
                    8:00 - 9:15pm
                </li>
            </ul>
        </div>
    </div>
</div>