a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

    img {
        border-color: rgb(185, 178, 178);
        box-shadow: 0 0 0 3px rgb(185, 178, 178);
    }
}