<div class="card">
    <div class="card-body">
        <h3>Social</h3>
        <div class="d-flex justify-content-center align-items-center">
            <a class="d-flex justify-content-center flex-column align-items-center" href="https://www.instagram.com/blacksheep_crc/">
                <img src="assets/images/black_sheep_logo_larg.jpg" class="rounded-circle insta-border" height="100px">
                <div>
                    <i class="bi bi-instagram"></i> Instagram
                </div>
            </a>
        </div>
    </div>
</div>