<div class="wrapper">
    <!-- <div>
        <div class="header-image rounded" style="height:400px"></div>
        <div class="content-text text-light">
            <div class="fs-4 fw-bold main-text">
                10/22 - Dipsticks Shine Brighter Than Jewelers
            </div>
            <div class="detail-text">
                Dianes Dipsticks overcome Mansours Jewelers 6-2
            </div>
        </div>
    </div> -->
    <iframe [src]='videoUrl' frameborder="0" height="400px" width="100%" allowfullscreen allow="autoplay"></iframe>
</div>