<div class="wrapper">
    <a href="https://www.signupgenius.com/go/10C0A44A5A82BA7F49-crcab#/">
        <img src="assets/images/ice-rink.jpg" width="100%" class="rounded">
        <div class="content-text text-light">
            <div class="fs-4 fw-bold main-text">
                2023-24 A/B SEASON STARTS SOON
            </div>
            <div class="detail-text">
                Sign up here for the 2023-2024 season. Although the sign up is currently full, do sign up on the wait list if you're interested. There's a good chance we will be able to accommodate those on the waiting list.
            </div>
        </div>
    </a>
</div>