<div class="wrapper">
    <!-- <a href="https://www.signupgenius.com/go/10C0A44A5A82BA7F49-48362254-2425#/">
        <div class="header-image rounded" style="height:400px"></div>
        <div class="content-text text-light">
            <div class="fs-4 fw-bold main-text">
                Sign-ups open for 2024 season! Click here to sign up!
            </div>
            <div class="detail-text">
                <ul>
                    <li>
                        6 Teams of 13 Skaters
                    </li>
                    <li>
                        ~30 Games over 18 Weeks
                    </li>
                    <li>
                        Sunday, Monday and Wednesday Nights
                    </li>
                    <li>
                        All games at "The Rink", 1767 East Shore Drive Ithaca NY
                    </li>
                </ul> 
            </div>
        </div>
    </a> -->
    <iframe [src]='videoUrl' frameborder="0" height="400px" width="100%" allowfullscreen allow="autoplay"></iframe>
</div>