:host {
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
}

.content-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.main-text:hover {
    text-decoration: underline;
}