<div class="wrapper">
    <div class="content d-flex flex-grow">
        <a href="https://www.youtube.com/playlist?list=PL8tPgYeZwSRVK78RLNX7bqnjGAPsaO8NU" class="d-flex flex-grow">
            <div class="card">
                <img src="assets/images/hobbs-highlights.png" height="200" class="card-img-top">
                <div class="card-body">
                    <div class="card-title fw-bold">2022-23 Season Highlights</div>
                    <p class="card-text">Catch the greatest moments from last seasons here.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="content d-flex flex-grow">
        <a href="https://iaha.sportngin.com/">
            <div class="card">
                <img src="assets/images/b-c-league.png" height="200" class="card-img-top">
                <div class="card-body">
                    <div class="card-title fw-bold">B/C League</div>
                    <p class="card-text">This site is for the higher A to B level play. The B/C league details can be found here.</p>
                </div>
            </div>
        </a>
    </div>
</div>