<div class="wrapper">
    <div class="content d-flex flex-grow">
        <a href="https://www.youtube.com/watch?v=sx-14ueDDHU&feature=youtu.be">
            <div class="card">
                <img src="assets/images/red_ice_and_blue.png" height="200" class="card-img-top">
                <div class="card-body">
                    <div class="card-title fw-bold">Red, Ice and Blue</div>
                    <p class="card-text">Instant Replay takes on Dianes Dipsticks in preseason heater.</p>
                </div>
            </div>
        </a>
    </div>    
    <div class="content d-flex flex-grow">
        <a href="https://youtu.be/sx-14ueDDHU?list=PL8tPgYeZwSRUUXdyqQfD9_P6HXXvIVKlQ&t=95" class="d-flex flex-grow">
            <div class="card">
                <img src="assets/images/orcutt_mansours_preseason.png" height="200" class="card-img-top">
                <div class="card-body">
                    <div class="card-title fw-bold">Gem of a Matchup</div>
                    <p class="card-text">Mansours Jewelers takes on Orcutt Real Estate</p>
                </div>
            </div>
        </a>
    </div>    
</div>

<div>
    <div class="d-flex align-items-center gap-3">
        <img src="assets/images/blacksheep_vs_mbas.png" width="35%" class="rounded">
        <div>
            <div class="fw-bold">Black Sheep vs. The Outlaws</div>
            <p>Newcomer MBAs aim to teach Black Sheep a Lesson in Preseason Hockey Debut Showdown!</p>
        </div>  
    </div>
</div>

<div>
    <a href="https://www.youtube.com/playlist?list=PL8tPgYeZwSRVK78RLNX7bqnjGAPsaO8NU" class="d-flex align-items-center gap-3">
        <img src="assets/images/hobbs-highlights.png" width="35%" class="rounded">
        <div>
            <div class="fw-bold">2022-23 Season Highlights</div>
            <p>Catch the greatest moments from last seasons here.</p>
        </div>  
    </a>
</div>