<h1>
  Schedule
</h1>

<!-- <p>
  The official schedule is available on <a href="https://docs.google.com/spreadsheets/d/1ttVHnN5RidBciGpv9I9GDgvQnjQ9VYObOI0zsuOd8kY/edit?gid=1969887782#gid=1969887782">the google spreadsheet</a>.
</p> -->

<!-- <h3>Google Calendars</h3>
<p>Thank you to Suan Yong for creating Google Calendars for each team.</p>

<div class="row mb-2" *ngFor="let row of calendars">
  <div class="col-md-4" *ngFor="let teamCalendar of row">
    <div class="fw-bold">{{teamCalendar.team}}</div>
    <div>
      <a [href]="teamCalendar.calendar">
        Google Calendar
      </a>
    </div>
    <div>
      <a [href]="teamCalendar.ics" target="_blank">
        Download
      </a>
    </div>
  </div>
</div> -->

<hr>

<ng-container *ngFor="let gameDay of schedule | groupGamesByDay">
  <div class="p-2" [id]="gameDay.date | date:'fullDate'" [class.highlight]="gameDay.date | isToday">
    <div class="fs-6 fw-bold">{{gameDay.date | date: 'fullDate'}}</div>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="team-column">Matchup</th>
          <th class="vs-column"></th>
          <th class="team-column"></th>
          <th class="time-column">Time</th>
          <th class="goalie-column">Goalie Matchup</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of gameDay.games">
          <td class="team-column">
            <img class="d-none d-lg-inline me-2" [src]="game.teamA | teamLogo:teams" height="25px">
            <span>{{ game.teamA }}</span>
          </td>
          <td class="vs-column">vs.</td>
          <td class="team-column">
            <img class="d-none d-lg-inline me-2" [src]="game.teamB | teamLogo:teams" height="25px">
            <span>{{ game.teamB }}</span>
          </td>
          <td class="time-column">
            {{ game.date | date: "shortTime" }}
          </td>
          <td class="goalie-column">
            {{game.goalieA | goalieName}} & {{game.goalieB | goalieName}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>