<div class="wrapper">
    <div class="left-section">
        <app-left-side></app-left-side>
    </div>
    <div class="center-section flex-grow-1">
        <div class="card shadow">
            <div class="card-body d-flex flex-column gap-3">
                <app-featured-content></app-featured-content>
                <app-secondary-content></app-secondary-content>
            </div>
        </div>
    </div>
    <div class="right-section">
        <app-right-side></app-right-side>
    </div>
</div>
