<div class="wrapper">
    <div class="left-section">
        <app-left-side></app-left-side>
    </div>
    <div class="center-section flex-grow-1">
        <div class="card shadow mb-2">
            <div class="card-body d-flex flex-column gap-3">
                <a href="https://www.signupgenius.com/go/10C0A44A5A82BA7F49-50837514-ableague#/" target="_blank">
                    <h3 style="margin: 0; padding: 0">2024 Season Sign-Ups Open Now</h3>
                    <ul>
                        <li>
                            6 Teams of 13 Skaters
                        </li>
                        <li>
                            ~30 Games over 18 Weeks
                        </li>
                        <li>
                            Sunday, Monday and Wednesday Nights
                        </li>
                        <li>
                            All games at "The Rink", 1767 East Shore Drive Ithaca NY
                        </li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body d-flex flex-column gap-3">
                <app-featured-content></app-featured-content>
                <app-secondary-content></app-secondary-content>
            </div>
        </div>
    </div>
    <div class="right-section">
        <app-right-side></app-right-side>
    </div>
</div>