<div class="card shadow">
    <div class="card-body">
        <h3>Documents</h3>
        <div class="d-flex flex-column gap-1">
            <div>
                <a href="assets/documents/Adult A-B Appication Form.docx">
                    <i class="bi bi-file-earmark-word"></i>
                    Application Form
                </a>
            </div>
            <div>                
                <a href="assets/documents/AB Discipline Document 2023.docx">
                    <i class="bi bi-file-earmark-word"></i>
                    Discipline Policy
                </a>
            </div>
        </div>
    </div>
</div>